[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-model-utils = "*"
django-phonenumber-field = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2-binary = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.11"
